* {
	color: yellow;
}

body {
	background-image: url(https://avatars.githubusercontent.com/u/77234325?v=4);
}

a {
	text-decoration-style: solid;
}

li {
	list-style-type: none;
}

.box {
	margin: auto;
	width: 50%;
	border: 9px double yellow;
	text-align: center;
}

.title {
	margin: auto;
	width: 50%;
}