* {

	font-family: 'ubuntu';
	color: yellow;
}

body {
	background-image: url(https://camo.githubusercontent.com/478cfaac2bbc36988a2b634be9fc9514f9779aa453e453e7d63c2c270684ab53/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3737303730333134343439363932323639372f313030343730353734313436343136323330342f6f7665726c61792d757373722e706e673f77696474683d343035266865696768743d343035);
}

a {
	text-decoration-style: solid;
}

li {
	list-style-type: none;
}

.box {
	margin: auto;
	width: 50%;
	border: 9px double yellow;
	text-align: center;
}

.title {
	margin: auto;
	width: 50%;
}