* {
    color: yellow;
}

body {
    background-image: url(https://avatars.githubusercontent.com/u/77234325?v=4);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

a {
    text-decoration-style: solid;
}

li {
    list-style-type: square;
}

.box {
    font-size: 18px;
    background-color: black;
    margin: auto;
    width: 50%;
    border: 9px double yellow;
    text-align: center;
}

.title {
    margin: auto;
    width: 50%;
}

.dev {
    color: yellowgreen;
}

.released {
    color: green;
}

.closed {
    color: darkred;
}

.beta {
    color: cyan;
}
